.blogs_insights_header {
  width: 100%;
  height: 30vh;
  background-image: url("../../assets/images/corpo8.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.blogs_insights_header_wrapper {
  width: 100%;
  height: 100%;
  padding: 5rem 0rem 0rem;
  background: var(--off-dark-opacity);
}
.blogs_insights_header_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    font-size: clamp(1.25rem, 4vw, 2.5rem);
    font-weight: 700;
    color: var(--primary-white);

    span {
      color: red;
    }
  }
}

.blogsinsight_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 4rem 1rem 3rem;
  background: var(--off-white);

  h4 {
    font-size: clamp(1rem, 4vw, 1.5rem);
    font-weight: 700;
    color: var(--primary-green);
  }

  /* p {
      font-size: clamp(0.875rem, 4vw, 1.25rem);
      font-weight: 400;
      line-height: clamp(1.375rem, 4vw, 1.875rem);
    }     */
}
.blogsinsight_body_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}
.blogsinsight_body_card {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1rem; */
  text-decoration: none;
  color: var(--off-black);

  &:hover {
    .blogsinsight_body_title_header {
      display: none;
    }
    .blogsinsight_body_link {
      display: flex;
    }
    .blogsinsight_body_img {
      filter: grayscale(0%);
    }
  }
}
.blogsinsight_body_img {
  width: 100%;
  height: 220px;
  border-radius: 8px;
  filter: grayscale(80%);
}
.blogsinsight_body_title_container {
  width: 90%;
  background: var(--primary-white);
  position: relative;
  top: -4rem;
  border-radius: 8px;
  padding: 0.875rem;
  border: 1px solid var(--not-light-green);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  transition: all 200s ease-in-out;
}
.blogsinsight_body_title_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blogsinsight_body_calendar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;

  span {
    font-size: clamp(0.625rem, 4vw, 0.75rem);
    font-weight: 400;
    color: var(--off-black-1);
  }

  svg {
    fill: var(--off-black-1);
  }
}
.blogsinsight_body_client {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.2rem;

  span {
    font-size: clamp(0.625rem, 4vw, 0.75rem);
    font-weight: 400;
    color: var(--off-black-1);
  }
  svg {
    fill: var(--off-black-1);
  }
}
.blogsinsight_body_title {
  font-size: clamp(1.125rem, 4vw, 1.375rem);
  font-weight: 500;
}
.blogsinsight_body_link {
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  display: none;

  a {
    font-size: clamp(0.875rem, 4vw, 1rem);
    font-weight: 800;
    color: rgb(34, 34, 126);
    display: flex;
    align-items: center;
    width: max-content;
  }
  svg {
    fill: rgb(34, 34, 126);
  }
}

.upcoming {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.upcoming_container {
  padding-left: 1.5rem;
}
.upcoming_container_p {
  font-size: clamp(0.875rem, 4vw, 1.125rem);
  font-weight: 500;
}
.simulatedArticle_wrapper {
  margin: 2rem 0 4rem;
}
.simulatedTitle {
  font-size: clamp(1.375rem, 5vw, 1.875rem);
  line-height: clamp(1.75rem, 5vw, 2.125rem);
  margin-bottom: 2rem;
}
.simulatedTitle_container {
  width: 100%;
  border: 1px solid rgba(195, 193, 193, 0.534);
  background-color: rgba(217, 217, 217, 0.236);
  border-radius: 8px;
  padding: 1.5rem;

  h4 {
    margin-bottom: 1.5rem;
  }

  p {
    font-size: clamp(0.875rem, 4vw, 1.125rem);
    font-weight: 500;
    line-height: clamp(1.25rem, 4vw, 1.75rem);
    text-align: justify;
  }
}
.simulatedTitle_subscription_container {
  position: relative;
  width: 100%;
}
.simulatedTitle_subscription {
  border: inherit;
  width: 100%;
  margin: .125rem;
  /* min-height: 120px; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0rem;
  border-radius: 8px;
  padding: 2rem 0;
  border-right: 1px solid rgba(195, 193, 193, 0.534);
  background-image: linear-gradient(to bottom, rgba(244, 239, 239, 0.641), white);

  a {
    font-size: clamp(1rem, 4vw, 1.375rem);
    font-weight: 600;
    line-height: clamp(1.25rem, 4vw, 1.75rem);
    color: rgb(196, 0, 0);
  }
}


@media screen and (min-width: 426px) {
  .blogsinsight_body {
    padding: 4rem 3rem;
  }
  .blogsinsight_body_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
  }
}
@media screen and (min-width: 940px) {
  .blogsinsight_body_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .blogsinsight_body {
    padding: 4rem 13rem;
  }
}
